*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Karla', sans-serif;
    font-size: 17px;
    color: #ffffff;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.6fr 0.04fr;
    grid-template-areas: 
    'header header'
    'subsc  whyus '
    'footer footer' ;
}   
.main-header{
    grid-area:header;
    background-color: #ffffff;
    margin-left: 50px;
    margin-top: 40px;
}
.main-header .head{
    color: hsl(178.9, 68.1%, 46.7%);
    padding-bottom: 20px;
    font-size:28px;
}
.main-header .sub-head{
    color: hsl(71, 73%, 54%);
    padding-bottom: 20px;
    font-size: 22px;
}
.main-header p{
    color: hsl(218, 22%, 67%);
    width: 40%;
    font-size: 20px;
    line-height: 1.6;
}
/*End Of Heading Section*/
.subscription{
    grid-area:subsc;
    background-color:  hsl(179, 62%, 43%);
}
.subscription h3{
    font-size: 26px;
    margin-top: 4rem;
}
.amount{
    padding-top: 25px;
    font-size: 44px; 
    font-weight: bold;
}
.per-month{
    margin-left: 90px;
    transform: translateY(-35px);
    color: rgb(229, 239, 245,0.8);
    font-size: 20px;
}
.subscription div{
    margin-top: 60px;
    margin-left: 50px;
}
.price{
    position: relative;
    right: 50px;
    transform: translateY(-27px);
}
.description{
    transform: translateY(-34px);
    font-size: 22px;
}
.btn{
    display: inline-block;
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px;
    width: 40%;
    height: 50px;
    text-align: center;
    box-shadow: 0 5px 10px 3px rgb(0, 0, 0,0.18);
}
.btn:hover{
    color:hsl(179, 62%, 43%);
}
.btn p{
    transform: translateY(8px)
}
/*End Of Subscription Section*/
.why-us{
    grid-area:whyus;
    background-color:  rgb(42, 178, 175,0.8);
}
.why-us div{
    margin-left:55px;
    margin-top: 4rem;
}
.why-us h3{
    font-size: 26px;
    margin-bottom: 20px;
}
.why-us p{
    width:35%;
    line-height: 2;
    font-size: 20px;
}

/*End Of Why Us Section*/
footer{
    grid-area:footer;
    background-color:hsl(179, 52%, 39%);
}

@media (max-width: 575.98px){
    .grid{
        display: flex;
        flex-direction: column;
    }
    .main-header{
        margin: 2rem 2rem 2rem 1.5rem;
    }   
     .main-header .head{
        font-size: 26px;
    }
    .sub-head{
        line-height: 1.6;
        width: 100%;
        font-size: 19.5px;
    }
    .main-header p{
        margin-top: 0.5rem;
        width: 90vw;
        line-height: 2;
        font-size: 17px;
    }


    .subscription h3{
    font-size: 23px;
    }
    .subscription div{
        margin: 2rem 2rem 1rem 1.5rem;
    }
    .price{
        right: 22px;
    }
    .description{
        color: hsl(204, 43%, 93%);
        transform: translateY(-3rem);
        font-size: 19px;
    }
    .btn{
        width: 100%;
        transform: translateY(-1rem);
    }


    .why-us div{
        margin: 2rem 2rem 1rem 1.5rem;
    }
    .why-us p{
        width: 90%;
        color: hsl(204, 43%, 93%);

    }
    footer{
        padding: 0.5rem 0;
    }
}